__pycache__/
*.pyc
*.egg-info/
.eggs/

.micromamba
.venv
output.txt
.pytest_cache
.coverage
**/__pycache__
.mypy_cache


# Sphinx documentation
docs/_build/
.env
*.jpg
!outputs/from_route_metadata/mixvpr_dataset_by_date/**/*.jpg
.DS_Store
dist/

# JetBrains IDEs
.idea/

.ruff_cache
